@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul {
  margin-left: 1rem;
  list-style-position: outside;
}

li {
  list-style-type: disc;
}

a {
  color: #3b82f6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
